.card-container {
    background-color: red;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    display: flex;
    margin: auto;
    height: 46vh;
    width: 25vw;
    transition: 0.1s;
    animation: ease-in-out;
}
.card-container:hover {
    /*transform: scale(1.1);*/
    box-shadow: 0px 0px 5px 0px rgb(255, 0, 0);
}
.image-container img{
    overflow: hidden;
    height: 300px;
    width: 360px;
}
.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}
h3,p {
    margin: 0;
    padding: 0;
}
.card-title {
    margin-bottom: 0.5rem;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn button {
    padding: 0.5rem;
    background-color: pink;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    margin-bottom: 0.5rem;
}
.btn button:hover {
    background: green;
    transform: scale(1.1);
}
a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}