
.product-card-container {
    margin: auto;
    border: 5px solid rgb(255, 136, 0);
    width: 30px;
    height: 15vh;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.card {
    transition: ease all .3s;
    width: 200px;
}
.wrapper {
    margin: 60px 10px 10px;
    padding-top: 200px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 20 10px rgba(rgb(48, 39, 39), rgb(49, 46, 87), rgb(255, 187, 0));
    transition: ease all .3s;
    &:hover {

    }
}