.slider {
    border: 1px solid rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    overflow: hidden;
    position: relative;
    background: black;
}

.slide {
    border: 5px solid rgb(21, 255, 0);
    min-width: 100%;
    height: 80%;
    position: relative;
    transition: 0.9s;
    overflow: hidden;
}

#goLeft {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 3%;
    height: 80%;
    background: none;
    border: none;
}

#goRight {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 3%;
    height: 80%;
    background: none;
    border: none;
}

button {
    background-color: red;
    color: white;
}
button:hover {
    background-color: rgb(54, 9, 9);
    color: red
}