.grid-styling {
    display: grid;
    background-color: rgb(231, 231, 231);
    height: 17vh;
    width: 77vw;
    margin: auto;
    justify-items: center;
    border: 1px solid rgb(223, 43, 133);
    border-radius: 5px;
}
.article {

}
